.container-novel{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    margin-top: 4rem;
    .container-novel-left{
        background: green;
        text-align: center;
        border: .7rem solid yellow;
        border-radius: 2rem;
        h4{
            font-size: 2rem;
            color: yellow;
        }
    }
    .container-novel-right{
        background: palevioletred;
        text-align: center;
        border: .7rem solid yellow;
        border-radius: 2rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
        gap: 2rem;
        h4{
            font-size: 2rem;
            color: yellow;
        }
    }
}