.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: $bg-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    #menu-btn{
        font-size: 2.5rem;
        color: $white;
        cursor: pointer;
        display: none;
    }
    .logo{
        font-size: 2.5rem;
        color: $white;
        font-weight: bolder;
        i{
            color: $blue;
            padding-right: .5rem;
        }
    }
    .navbar{
        a{
            font-size: 1.7rem;
            color: $light-color;
            display: inline-block;
            margin: 0 1rem;
            &:hover{
                color: $blue;
            }
        }
    }
    .btn{
        margin-top: 0;
        display: inline-block;
        padding: 1rem 3rem;
        font-size: 1.7rem;
        color: $blue;
        border: $border;
        border-radius: 5rem;
        cursor: pointer;
        background: none;
        &:hover{
            background: $blue;
            color: $black;
        }
    }
}